state-machine.json
{
  "StartAt": "Traverse Files",
  "States": {
    "Traverse Files": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-west-1:123456789012:function:count-files",
        "Payload": {
          "Input.$": "$"
        }
      },
      "ResultPath": "$.taskresult",
      "Next": "Check Upload Complete"
    },
    "Check Upload Complete": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.taskresult.Payload.Done",
          "BooleanEquals": true,
          "Next": "Check Files Exist"
        },
        {
          "And": [
            {
              "Variable": "$.taskresult.Payload.Done",
              "BooleanEquals": false
            },
            {
              "Variable": "$.taskresult.Payload.Retries",
              "NumericLessThan": 6
            }
          ],
          "Next": "Wait For Upload"
        }
      ],
      "Default": "Retries Exceeded"
    },
    "Check Files Exist": {
      "Type": "Parallel",
      "Next": "Populate Database",
      "ResultPath": "$.Filenames",
      "Branches": [
        {
          "StartAt": "GPS File Exists",
          "States": {
            "GPS File Exists": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-west-1:123456789012:function:check-files-exist",
              "Parameters": {
                "Type": "GPS",
                "Key.$": "$.Key"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "O File Exists",
          "States": {
            "O File Exists":{
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-west-1:123456789012:function:check-files-exist",
              "Parameters": {
                "Type": "OFile",
                "Key.$": "$.Key"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "I File Exists",
          "States": {
            "I File Exists": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-west-1:123456789012:function:check-files-exist",
              "Parameters": {
                "Type": "IFile",
                "Key.$": "$.Key"
              },
              "End": true
            }
          }
        }
      ]
    },
    "Populate Database": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-1:123456789012:function:populate-database",
      "Parameters": {
        "Input.$": "$"
      },
      "End": true
    },
    "Wait For Upload": {
      "Type": "Wait",
      "Seconds": 1,
      "Next": "Traverse Files"
    },
    "Retries Exceeded": {
      "Type": "Fail"
    }
  }
}
