state-machine.json
{
  "StartAt": "Count Files",
  "States": {
    "Count Files": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-west-1:123456789012:function:count-files",
        "Payload": {
          "Input.$": "$"
        }
      },
      "ResultPath": "$.taskresult",
      "Next": "Compare Counts"
    },
    "Compare Counts": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.taskresult.Payload.Equal",
          "BooleanEquals": true,
          "Next": "Populate Database"
        },
        {
          "And": [
            {
              "Variable": "$.taskresult.Payload.Equal",
              "BooleanEquals": false
            },
            {
              "Variable": "$.taskresult.Payload.Retries",
              "NumericLessThan": 6
            }
          ],
          "Next": "Wait For Upload"
        }
      ],
      "Default": "Retries Exceeded"
    },
    "Populate Database": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-west-1:123456789012:function:populate-database",
        "Payload": {
          "Input.$": "$"
        }
      },
      "End": true
    },
    "Wait For Upload": {
      "Type": "Wait",
      "Seconds": 1,
      "Next": "Count Files"
    },
    "Retries Exceeded": {
      "Type": "Fail"
    }
  }
}
